<div class="episode-page__container" *ngIf="episode">
  <h1 class="font-color">{{ episode.title }}</h1>
  <p class="font-color">Release date: {{ episode.release_date | date: "dd.MM.YYYY" }}</p>
  <p class="episode-page__description font-color">{{ episode.opening_crawl }}</p>
  <hr />
  <mat-tab-group
    animationDuration="0"
    mat-align-tabs="center"
    (selectedIndexChange)="selectedIndexChange($event)"
  >
    <mat-tab *ngFor="let tab of episodeTabsData; let i = index" [label]="tab.label">
      <app-episode-table *ngIf="selectedIndex === i" [data]="tab"></app-episode-table>
    </mat-tab>
  </mat-tab-group>
</div>
