:root {
  --content-background-color: #fafafa;
  --font-color: rgba(0, 0, 0, 0.69);
}

@mixin icon-size($size) {
  font-size: $size+px;
  height: $size+px;
  width: $size+px;
}

$sizes: 24, 48;
@each $size in $sizes {
  .mat-icon.icon-size__#{$size} {
    @include icon-size($size);
  }
}

.font-color {
  color: var(--font-color);
}
