.dialog-actions {
  justify-content: flex-end;
}

table {
  min-width: 500px;
  white-space: nowrap;
  td {
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

td.mat-cell, th.mat-header-cell {
  padding: 8px;
}


::ng-deep .mat-dialog-content {
  overflow-x: auto;
}

@media (max-width: 599px) {
  table {
    min-width: fit-content;
  }
}
