.dialog-actions {
  justify-content: flex-end;
}

table {
  min-width: 500px;
  td {
    padding: 0 24px;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

::ng-deep .mat-dialog-content {
  overflow-x: hidden;
}
