/* You can add global styles to this file, and also import other style files */
//* {
//  box-sizing: border-box;
//}

* {
  text-align: justify;
}

body {
  height: 100vh;
  overflow: hidden;
}

html {
  overflow: hidden;
  font-family: Roboto, Helvetica;
}
