:host {
  display: flex;
  justify-content: center;
  min-height: 200px;
  min-width: fit-content;
}
table {
  width: 100%;
  white-space: nowrap;
  //tr {
  //  border-width: 0 1px;
  //  border-color: rgba(0,0,0,.12);
  //}
  th,td {
    text-transform: capitalize;
  }
  .table-row {
    transition: 0.2s;
    &:hover {
      background-color: var(--content-background-color);
      cursor: pointer;
    }
  }
}

td.mat-cell, th.mat-header-cell {
  padding: 8px;
}
