:host {
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
  th,td {
    text-transform: capitalize;
  }
  .table-row {
    transition: 0.2s;
    &:hover {
      background-color: var(--content-background-color);
      cursor: pointer;
    }
  }
}
