<mat-toolbar class="mat-elevation-z6" color="primary">
  <app-toolbar></app-toolbar>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    class="side-nav-container"
    [opened]="this.sideNavService.toggler$ | async"
    disableClose
  >
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <section role="main" class="content-container">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
