.drawer-container {
  height: calc(100% - 64px);
  width: 100%;
  overflow: hidden;
  display: flex;

}

.content-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--content-background-color);
  padding: 32px 0;
}

.mat-toolbar {
  position: sticky;
  z-index: 2;
}

.mat-drawer {
  min-width: 260px;
}

.mat-sidenav-container {
  height: calc(100% - 64px);
}
